body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  background-color: #48464a;
}

p {
  color: aliceblue;
  font-size: 30px;
}

p2 {
  color: aquamarine;
  font-size: 25px;
}

textarea {
  background-color: transparent;
  border: solid;
  resize: none;
  color: #000000;
  padding: 25px;
}

header {
  background-color: transparent;
  color: aquamarine;
}

.clock {
  color: aquamarine;
  font-size: 30px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-bottom-style: groove;
  border-right-style: groove;
  border-left-style: groove;
}

.row {
  border-top: 1px solid white;
}

.hour {
  background-color: transparent;
  color: #000000;
}

.past {
  background-color: darkgray;
  color: white;
}

.present {
  background-color: lightcoral;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  background-color: transparent;
  color: #48464a;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
  color: aliceblue;
}